{% set subPageTitle = 'Protocol Settings'|trans %}

{% extends "@oidc/base.twig" %}

{% block oidcContent %}

    <table class="table pure-table pure-table-bordered ">
        <thead>
        <tr>
            <th>{{ 'Setting'|trans }}</th>
            <th>{{ 'Value'|trans }}</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ 'Issuer'|trans }}</td>
                <td> {{ moduleConfig.getIssuer }}</td>
            </tr>
            <tr>
                <td>{{ 'Tokens Time-To-Live'|trans }}</td>
                <td>
                    <ul class="config">
                        <li>
                            {{ 'Authorization Code:'|trans }}
                            {{ moduleConfig.getAuthCodeDuration|date("%mm %dd %hh %i' %s''") }}
                        </li>
                        <li>
                            {{ 'Access Token:'|trans }}
                            {{ moduleConfig.getAccessTokenDuration|date("%mm %dd %hh %i' %s''") }}
                        </li>
                        <li>
                            {{ 'Refresh Token:'|trans }}
                            {{ moduleConfig.getRefreshTokenDuration|date("%mm %dd %hh %i' %s''") }}
                        </li>
                    </ul>

                </td>
            </tr>
            <tr>
                <td>{{ 'Default Authentication Source'|trans }}</td>
                <td> {{ moduleConfig.getDefaultAuthSourceId }}</td>
            </tr>
            <tr>
                <td>{{ 'User Identifier Attribute'|trans }}</td>
                <td> {{ moduleConfig.getUserIdentifierAttribute }}</td>
            </tr>
            <tr>
                <td>{{ 'Signing Algorithm'|trans }}</td>
                <td> {{ moduleConfig.getProtocolSigner.algorithmId }}</td>
            </tr>
            <tr>
                <td>{{ 'PKI'|trans }}</td>
                <td>
                    <ul class="config">
                        <li>Private Key: {{ moduleConfig.getProtocolPrivateKeyPath }}</li>
                        <li>
                            Private Key Password Set:
                            {{ moduleConfig.getProtocolPrivateKeyPassPhrase ? 'Yes'|trans : 'No'|trans }}
                        </li>
                        <li>
                            {{ 'Public Key:'|trans }}
                            {{ moduleConfig.getProtocolCertPath }}
                        </li>
                    </ul>

                </td>
            </tr>
            <tr>
                <td>{{ 'Supported ACRs'|trans }}</td>
                <td>
                    {% if moduleConfig.getAcrValuesSupported is not empty %}
                        <ul class="config">
                        {% for acr in moduleConfig.getAcrValuesSupported %}
                            <li>{{ acr }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        {{ 'None defined'|trans }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ 'Authentication Sources to ACRs Map'|trans }}</td>
                <td>
                    // TODO mivanci
                </td>
            </tr>
            <tr>
                <td>{{ 'Scopes'|trans }}</td>
                <td>
                    // TODO mivanci
                </td>
            </tr>
            <tr>
                <td>{{ 'Authentication Processing Filters'|trans }}</td>
                <td>
                    // TODO mivanci
                </td>
            </tr>
            <tr>
                <td>{{ 'Protocol Cache Adapter'|trans }}</td>
                <td>
                    // TODO mivanci
                </td>
            </tr>
            <tr>
                <td>{{ 'User Entity Cache Duration'|trans }}</td>
                <td>
                    // TODO mivanci
                </td>
            </tr>
        </tbody>
    </table>

    <br>
    <h4>{{ 'Discovery URL'|trans }}</h4>
    <p>
        <a href="{{ routes.urlConfiguration }}" target="_blank">{{ routes.urlConfiguration }}</a>
    </p>

{% endblock oidcContent -%}
