{% set subPageTitle = 'Verifiable Credential Settings'|trans %}

{% extends "@oidc/base.twig" %}

{% block oidcContent %}
    <p>
        {{ 'Verifiable Credential Enabled'|trans }}:
        {{ moduleConfig.getVerifiableCredentialEnabled ? 'Yes'|trans : 'No'|trans }}
    </p>

    <h4>{{ 'Entity'|trans }}</h4>
    <p>
        {{ 'Configuration URL'|trans }}:
        <a href="{{ routes.urlCredentialIssuerConfiguration }}" target="_blank">{{ routes.urlCredentialIssuerConfiguration }}</a>
    </p>
    <p>
        {{ 'Issuer'|trans }}: {{ moduleConfig.getIssuer }}
    </p>

{% endblock oidcContent -%}
