{% extends "@oidc/base.twig" %}

{% set pagetitle = 'Logout Info' | trans %}

{% block oidcContent %}
    <h2>
        {% if wasLogoutActionCalled %}
            {{ 'Logout Successful'|trans }}
        {% else %}
            {{ 'Logout Failed'|trans }}
        {% endif %}
    </h2>


    <div>
        <h3>
            {{ 'Info'|trans }}
        </h3>
        <p>
            {% if wasLogoutActionCalled %}
                {{ 'You can now close this window or navigate to another page.'|trans }}
            {% else %}
                {{ 'Requested session was not found or it is expired.'|trans }}
            {% endif %}
        </p>
    </div>

{% endblock %}
