{% extends "@oidc/oidc_base.twig" %}

{% set pagetitle = 'Logout Info' | trans %}

{% block content %}
    <h2>
        {% if wasLogoutActionCalled %}
            {{ '{oidc:logout:page_title_success}'|trans }}
        {% else %}
            {{ '{oidc:logout:page_title_fail}'|trans }}
        {% endif %}
    </h2>

    <div class="ui hidden divider"></div>

    <div class="ui attached message">
        <div class="header">
            {{ '{oidc:logout:info_title}'|trans }}
        </div>
        <p>
            {% if wasLogoutActionCalled %}
                {{ '{oidc:logout:info_message_success}'|trans }}
            {% else %}
                {{ '{oidc:logout:info_message_fail}'|trans }}
            {% endif %}
        </p>
    </div>

{% endblock %}
