<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">

    <title>{{ pagetitle }}</title>


    <link rel="stylesheet" href="{{ asset('fomantic/semantic.min.css', 'oidc') }}">
    <link rel="icon" href="{{ asset('icons/favicon.ico') }}">
    <style>
        .content,
        body {
            padding: 10px 0;
            background: #1c1c1c;
            color: #333;
            font-family: arial, tahoma, verdana, sans-serif;
        }

        body>.container>.segments {
            border: 1px solid white;
            border-radius: 0;
        }

        .ui.red.segment:not(.inverted) {
            border-top: 6px solid #db2828 !important;
        }
    </style>
    {% if isRTL %}
    <link rel="stylesheet" href="{{ asset("default-rtl.css") }}">
    {% endif %}

    {% block preload %}{% endblock %}
</head>

<body id="{{ templateId }}">
    <div class="ui main container">
        <div class="ui stacked segments">
            <div class="ui inverted padded segment">
                <div class="ui inverted header">
                    {% if header == 'SimpleSAMLphp' %}
                    <span class="simple">Simple</span>{# -#}
                    <span class="saml">SAML</span>{# -#}
                    <span class="simple">php</span>
                    {% else %}
                    {{ header }}
                    {% endif %}
                </div>
            </div>
            <div class="ui red segment">

                <div class="ui breadcrumb">
                    <a href="/{{ baseurlpath }}" class="section">
                        SimpleSAMLphp
                    </a>
                    {% block pre_breadcrump %}{% endblock %}
                    {% block breadcrump %}
                        <span class="divider">/</span>
                        <div class="active section">{{ pagetitle }}</div>
                    {% endblock %}
                    {% block post_breadcrump %}{% endblock %}
                </div>

                {% if not hideLanguageBar %}
                <div class="ui floating dropdown labeled search icon button" style="float: right;"
                    id="language-selector">
                    <i class="world icon"></i>
                    <span class="text">Select Language</span>
                    <div class="menu">
                        {% for key, lang in languageBar %}
                        <div data-value="{{ key }}" class="item">{{ lang.name }}</div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <div class="ui hidden divider"></div>

                {% block contentwrapper %}

                    {% if messages is not empty %}
                    <div class="ui positive message">
                        {% for message in messages %}
                        <p>{{ message|trans }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% block content %}{% endblock %}

                {% endblock %}
            </div>
            <div class="ui segment">
                {% block footer %}{% include "_footer.twig" %}{% endblock %}
            </div>
        </div>
    </div>
</body>
{% block postload %}
    <script type="text/javascript" src="{{ asset('jquery/jquery-3.3.1.min.js', 'oidc') }}"></script>
    <script type="text/javascript" src="{{ asset('fomantic/semantic.min.js', 'oidc') }}"></script>
    <script>
        $(document).ready(function () {
            $('.ui.dropdown').dropdown();
            $('#language-selector')
                .dropdown('set selected', '{{ currentLanguage }}')
                .dropdown({
                    onChange: function (value, text) {
                        var url = new URL(window.location.href);
                        url.searchParams.set('language', value);
                        window.location.replace(url.href);
                    }
                })
                ;
            $('.ui.checkbox').
                checkbox();
        });
    </script>
{% endblock %}
</html>
