{% set subPageTitle = 'Test Federation Discovery'|trans %}

{% extends "@oidc/base.twig" %}

{% block oidcContent %}

    <p>
        {{ 'You can use the form below to test Federation Discovery under given Trust Anchor.'|trans }}
        {{ 'Log messages will show if any warnings or errors were raised during the process.'|trans }}
    </p>
    <p>
        {% if trustAnchorIds|default %}
            {{ 'Curently configured Trust Anchors for this entity:'|trans }}
            <ul>
                {% for trustAnchor in trustAnchorIds %}
                    <li>{{ trustAnchor }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {{ 'No Trust Anchors are currently configured for this entity.'|trans }}
        {% endif %}
    </p>

    <form method="post"
          action="{{ routes.urlAdminTestFederationDiscovery }}"
          class="pure-form pure-form-stacked">

        <fieldset>
            <label for="trustAnchorId">{{ 'Trust Anchor ID'|trans }}</label>
            <input type="text"
                   name="trustAnchorId"
                   id="trustAnchorId"
                   class="full-width"
                   required=""
                   value="{{ trustAnchorId|default }}"
            >
            <span class="pure-form-message">Use any Trust Anchor ID for discovery</span>

            <label for="forceRefresh">{{ 'Force refresh?'|trans }}</label>
            <input type="checkbox"
                   name="forceRefresh"
                   id="forceRefresh" value="1"
                   {{ forceRefresh ? 'checked' : '' }}
            >
            <span class="pure-form-message">
                {% trans %}Check if you want to force the refresh of entities in federation.{% endtrans %}
            </span>

            <br>
            <button type="submit" class="pure-button ">{{ (actionText|default('Submit'))|trans }}</button>
        </fieldset>
    </form>

    {% if isFormSubmitted|default %}
        <h4>{{ 'Log messages'|trans }}</h4>
        <p>
        {% if logMessages|default %}
            <code class="code-box code-box-content">
                {{- logMessages|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES')) -}}
            </code>
        {% else %}
            {{ 'Federation discovery passed (there were no warnings or errors during the process).'|trans }}
        {% endif %}
        </p>

        <h4>{{ 'Entities'|trans }}</h4>
        <p>
        {% if entities|default %}
            <code class="code-box code-box-content">
                {{- entities|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES')) -}}
            </code>
        {% else %}
            {{ 'No entities were found during the process.'|trans }}
        {% endif %}
        </p>

    {% endif %}

{% endblock oidcContent -%}
