{% set subPageTitle = 'Test Verifiable Credential Issuance'|trans %}

{% extends "@oidc/base.twig" %}

{% block oidcContent %}

    <h4>Pre-Authorized Code</h4>
    <p>
        {{ 'You can use info below to test Verifiable Credential Issuance.'|trans }}
    </p>

    {% if not authSource or not authSource.isAuthenticated %}
        <form method="post"
              action="{{ authSourceActionRoute }}"
              class="pure-form pure-form-stacked">
            <fieldset>
                <label for="authSourceId">{{ 'Auth Source ID'|trans }}</label>
                <select name="authSourceId" id="authSourceId">
                    {% for authSourceId in authSourceIds %}
                        <option value="{{ authSourceId }}">{{ authSourceId }}</option>
                    {% endfor %}
                </select>

                <br>
                <button type="submit" class="pure-button ">{{ (actionText|default('Login'))|trans }}</button>
            </fieldset>
        </form>
    {% else %}
        <p>
            You are currently authenticated with the following user data:
            <br>
            <code class="code-box code-box-content">
                {{- authSource.getAttributes|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES')) -}}
            </code>
        </p>
        <form method="post"
              action="{{ authSourceActionRoute }}"
              class="pure-form pure-form-stacked">
            <fieldset>
                <button type="submit" name="logout" class="pure-button ">{{ (actionText|default('Logout'))|trans }}</button>
            </fieldset>
        </form>
    {% endif %}


    {% if credentialOfferUri and credentialOfferQrUri %}
        <p>
            Credential Offer (Pre-Authorized Code)
            <code class="code-box code-box-content">
                {{- credentialOfferUri -}}
            </code>
        </p>
        <img src="{{ credentialOfferQrUri }}" alt="QR Code" />
    {% endif %}


{% endblock oidcContent -%}
