{% set subPageTitle = 'Test Verifiable Credential Issuance'|trans %}

{% extends "@oidc/base.twig" %}

{% block oidcContent %}

    {% if setupErrors %}
        <p>
            {{ 'There are some setup errors which you should deal with before proceeding.'|trans }}
            <br>
            {{ setupErrors|join('<br>') }}
        </p>
    {% else %}

        <h4>Pre-Authorized Code</h4>

        {% if not authSource or not authSource.isAuthenticated %}

            <p>
                {{ 'To test Verifiable Credential issuance using pre-authorized code, choose authentication source, desired Credential Configuration ID, and click Proceed.'|trans }}
                {{ 'Once you log in, you will be presented with a Credential Offer which you can use to test credential issuance.'|trans }}
            </p>

            <form method="post"
                  action="{{ authSourceActionRoute }}"
                  class="pure-form pure-form-stacked">
                <fieldset>
                    <label for="authSourceId">{{ 'Auth Source ID'|trans }}</label>
                    <select name="authSourceId" id="authSourceId">
                        {% for authSourceId in authSourceIds %}
                            <option value="{{ authSourceId }}">{{ authSourceId }}</option>
                        {% endfor %}
                    </select>
                    <span class="pure-form-message">
                        {% trans %}Authentication source to be used for user login.{% endtrans %}
                    </span>

                    <label for="credentialConfigurationId">{{ 'Credential Configuration ID'|trans }}</label>
                    <select name="credentialConfigurationId" id="credentialConfigurationId">
                        {% for credentialConfigurationId in credentialConfigurationIdsSupported %}
                            <option value="{{ credentialConfigurationId }}">{{ credentialConfigurationId }}</option>
                        {% endfor %}
                    </select>
                    <span class="pure-form-message">
                        {% trans %}Credential Configuration ID to be offered.{% endtrans %}
                    </span>

                    <label for="useTxCode">{{ 'Use Transaction Code?'|trans }}</label>
                    <input type="checkbox" name="useTxCode" id="useTxCode" value="1">
                    <span class="pure-form-message">
                        {% trans %}Check if you want to use Transaction Code protection.{% endtrans %}
                        {% trans %}If selected, server will send the transaction code to user's email address.{% endtrans %}
                    </span>

                    <label for="usersEmailAttributeName">{{ 'User\'s Email Attribute Name' }}</label>
                    <input type="text"
                           name="usersEmailAttributeName"
                           id="usersEmailAttributeName"
                           placeholder="{{ defaultUsersEmailAttributeName }}"
                           value="{{ usersEmailAttributeName }}">
                    <span class="pure-form-message">
                        {% trans %}If Transaction Code protection is used, this attribute will be used to get user's email address to which the transaction code will be sent.{% endtrans %}
                        {% trans %}Default value for attribute name is taken from module configuration, however, override if necessary.{% endtrans %}
                    </span>

                    <br>
                    <button type="submit" class="pure-button ">{{ (actionText|default('Proceed'))|trans }}</button>
                </fieldset>
            </form>
        {% else %}
            <p>
                You are currently authenticated with the following user data:
                <br>
                <code class="code-box code-box-content">
                    {{- authSource.getAttributes|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES')) -}}
                </code>
            </p>

        {% endif %}


        {% if credentialOfferUri and credentialOfferQrUri %}
            <p>
                Credential Offer:
                <code class="code-box code-box-content">
                    {{- credentialOfferUri -}}
                </code>
            </p>
            <img src="{{ credentialOfferQrUri }}" alt="QR Code" />
        {% endif %}

        {% if authSource and authSource.isAuthenticated %}
            <form method="post"
                  action="{{ authSourceActionRoute }}"
                  class="pure-form pure-form-stacked">
                <fieldset>
                    <button type="submit" name="logout" class="pure-button ">
                        {{ (actionText|default('Clear'))|trans }}
                    </button>
                </fieldset>
            </form>
        {% endif %}

    {% endif %}



{% endblock oidcContent -%}
