{% extends "@oidc/oidc_base.twig" %}

{% set pagetitle = 'Delete OpenID Connect Client' | trans %}

{% block pre_breadcrump %}
    <span class="divider">/</span>
    <a class="section" href="./index.php">{{ 'OpenID Connect Client Registry'|trans }}</a>
{% endblock %}

{% block content %}
    <h2>{{ pagetitle }}</h2>

    <div class="ui hidden divider"></div>

    <div class="ui attached red message">
        <div class="header">
            {{ '{oidc:client:delete}'|trans }}
        </div>
        <p>{{ '{oidc:client:confirm_delete}'|trans }}</p>
    </div>
    <form class="ui form attached fluid segment" method="post">
        <input type="hidden" name="secret" value="{{ client.secret }}">
        <div class="field">
            <label for="clientName">{{ '{oidc:client:name}'|trans }}</label>
            <input id="clientName" readonly="readonly" type="text" value="{{ client.name }}">
        </div>
        <div class="field">
            <label for="clientDescription">{{ '{oidc:client:description}'|trans }}</label>
            <textarea id="clientDescription" readonly="readonly" rows="6">
                {{- client.description -}}
            </textarea>
        </div>
        <div class="ui buttons">
            <button type="submit"  class="ui small primary labeled icon button">
                <i class="trash icon"></i> {{ '{oidc:delete}'|trans }}
            </button>
            <a href="./index.php" class="ui small secondary labeled icon button">
                <i class="arrow left icon"></i> {{ '{oidc:return}'|trans }}
            </a>
        </div>
    </form>
{% endblock %}
