{% extends "@oidc/oidc_base.twig" %}

{% set pagetitle = 'OpenID Connect Client Registry' | trans %}

{% block content %}
    <h2>{{ pagetitle }}</h2>

    <div class="ui hidden divider"></div>

    <div class="ui secondary menu">
        <div class="right menu">
            <div class="item">
                <form method="get">
                    <div class="ui right action left icon input">
                        <i class="search link icon"></i>
                        <input name="q" placeholder="{% trans '{oidc:search}' %}" type="text" value="{{ query }}">
                        <div class="ui button" onclick="location.href = './index.php'">Reset</div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="ui compact selectable table">
        <thead>
        <tr>
            <th colspan="2">
                <span class="ui header">
                     {% trans '{oidc:client_list}' %}
                </span>

                <a href="./new.php" class="ui primary labeled icon button right floated">
                    <i class="add icon"></i>{% trans '{oidc:add_client}' %}
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr class="client">
                <td>
                    <div class="ui header">
                        {% set state = client.enabled ? "green" : "red" %}
                        <a class="ui {{ state }} empty circular label"></a>
                        {{ client.name }}
                        <div class="sub header">
                            {{ client.description }}
                        </div>
                    </div>
                </td>
                <td class="collapsing">
                    <div class="ui mini buttons">
                        <a class="ui icon button" href="./show.php?client_id={{ client.identifier }}"><i class="eye icon"></i></a>
                        <a class="ui icon button" href="./edit.php?client_id={{ client.identifier }}"><i class="edit icon"></i></a>
                        <a class="ui icon button" href="./delete.php?client_id={{ client.identifier }}"><i class="trash icon"></i></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr class="noclient">
                <td colspan="2">
                    <div class="ui warning message">
                        <i class="warning icon"></i> {% trans '{oidc:no_clients}' %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="2">
                <div class="ui right floated pagination menu">
                    <a class="icon item {{ currentPage == 1 ? 'disabled' }}" href="./index.php?{{ {page: currentPage - 1, q: query} | url_encode }}">
                        <i class="left chevron icon"></i>
                    </a>
                    {% for i in range(1, numPages) %}
                        <a class="item {{ currentPage == i ? 'active disabled' }}" href="./index.php?{{ {page: i, q: query} | url_encode }}">{{ i }}</a>
                    {% endfor %}
                    <a class="icon item {{ currentPage == numPages ? 'disabled' }}" href="./index.php?{{ {page: currentPage + 1, q: query} | url_encode }}">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
