{% set subPageTitle = 'Client '|trans ~ client.getIdentifier %}

{% extends "@oidc/base.twig" %}

{% block oidcContent %}

    <div class="pure-g">
        <div class="pure-u-1-2">
            <span class="{{ client.enabled ? 'green-text' : 'red-text'}}">
            <i class="fa {{ client.enabled ? 'fa-check' : 'fa-ban'}}"></i>
                {{ client.enabled ? 'enabled'|trans : 'disabled'|trans }}
            </span>
        </div>
        <div class="pure-u-1-2">
            <div class="right">
                <a class="pure-button " href="{{ routes.urlAdminClients }}">
                    <i class="fa fa-chevron-left"></i>
                    {{ 'Back'|trans }}
                </a>
            </div>
        </div>
    </div>

    <div class="">
        {{ 'Registration:'|trans }} {{ client.registrationType.description }} |
        {{ 'Created at:'|trans }} {{ client.createdAt ? client.createdAt|date() : 'n/a' }} |
        {{ 'Updated at:'|trans }} {{ client.updatedAt ? client.updatedAt|date() : 'n/a' }} |
        {{ 'Expires at:'|trans }} {{ client.expiresAt ? client.expiresAt|date() : 'never' }}
    </div>

    <br>
    <div class="">
        <table class="pure-table pure-table-striped client-table">
            <colgroup>
                <col class="">
                <col class="">
            </colgroup>
            <tbody>
            <tr>
                <td class="client-col col-property">
                    {{ 'Name and description'|trans }}
                </td>
                <td>
                    {{ client.name }} <br>
                    <small>{{ client.description }}</small>
                </td>
            </tr>
            <tr>
                <td class="client-col col-property">
                    {{ 'Type' }}
                </td>
                <td>
                    {{ (client.isConfidential ? 'Confidential' : 'Public')|trans }}
                </td>
            </tr>
            <tr>
                <td class="client-col col-property">
                    {{ 'Identifier'|trans }}
                </td>
                <td>
                    {{ client.identifier }}
                </td>
            </tr>
            {% if client.isConfidential %}
            <tr>
                <td class="client-col col-property">
                    {{ 'Secret'|trans }}
                </td>
                <td>
                    <form method="post"
                          class="pure-form"
                          action="{{ routes.urlAdminClientsResetSecret(client.getIdentifier) }}">
                        {{- client.secret -}}
                        <input type="hidden" name="secret" value="{{ client.secret }}">
                        <button type="submit" class="pure-button button-small confirm-action"
                                data-confirm-text="{{ 'Are you sure you want to reset client secret?'|trans }}"
                                data-confirm-id="{{ client.getIdentifier }}"
                        >
                            <i class="fa fa-rotate"></i> {{ 'Reset'|trans }}
                        </button>
                    </form>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td class="client-col col-property">
                    {{ 'Authentication Source'|trans }}
                </td>
                <td>
                    {{ client.authSourceId|default('N/A'|trans) }}
                </td>
            </tr>
            <tr>
                <td class="client-col col-property">
                    {{ 'Redirect URIs'|trans }}
                </td>
                <td>
                    <ul class="disc">
                        {% for uri in client.redirectUri %}
                            <li>{{ uri }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="client-col col-property">
                    {{ 'Scopes'|trans }}
                </td>
                <td>
                    <ul class="disc">
                        {% for key, scope in client.scopes %}
                            <li>{{ scope }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="client-col col-property">
                    {{ 'Back-channel Logout URI'|trans }}
                </td>
                <td>
                    {{ client.backChannelLogoutUri|default('N/A') }}
                </td>
            </tr>
            <tr>
                <td class="client-col col-property">
                    {{ 'Post-logout Redirect URIs'|trans }}
                </td>
                <td>
                    {% if client.postLogoutRedirectUri is not empty %}
                        <ul class="disc">
                            {% for uri in client.postLogoutRedirectUri %}
                                <li>{{ uri }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ 'N/A'|trans }}
                    {% endif %}
                </td>
            </tr>

            {% if not client.isConfidential %}
            <tr>
                <td class="client-col col-property">
                    {{ 'Allowed Origins'|trans }}
                </td>
                <td>
                    {% if allowedOrigins is not empty %}
                    <ul class="list">
                        {% for allowedOrigin in allowedOrigins %}
                            <li>{{ allowedOrigin }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        {{ 'N/A'|trans }}
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td class="client-col col-property">
                    {{ 'Signed JWKS URI'|trans }}
                </td>
                <td>
                    {{ client.signedJwksUri|default('N/A'|trans) }}
                </td>
            </tr>
            <tr>
                <td class="client-col col-property">
                    {{ 'JWKS URI'|trans }}
                </td>
                <td>
                    {{ client.jwksUri|default('N/A'|trans) }}
                </td>
            </tr>
            <tr>
                <td class="client-col col-property">
                    {{ 'JWKS'|trans }}
                </td>
                <td>
                    {% if client.jwks %}
                        <code class="code-box-content">
                            {{- client.jwks|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES')) -}}
                        </code>
                    {% else %}
                        {{ 'N/A'|trans }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="client-col col-property">
                    {{ 'Owner'|trans }}
                </td>
                <td>
                    {{ client.owner|default('Administrator'|trans) }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <br>
    <h4>{{ 'OpenID Federation Related Properties'|trans }}</h4>
    <div class="">
        <table class="pure-table pure-table-striped client-table">
            <colgroup>
                <col class="">
                <col class="">
            </colgroup>
            <tbody>
            <tr>
                <td class="client-col col-property">
                    {{ 'Is Federated'|trans }}
                </td>
                <td>
                    {{ (client.isFederated ? 'Yes' : 'No')|trans }}
                </td>
            </tr>
            <tr>
                <td class="client-col col-property">
                    {{ 'Entity Identifier'|trans }}
                </td>
                <td>
                    {{ client.entityIdentifier|default('N/A'|trans) }}
                </td>
            </tr>
            <tr>
                <td class="client-col col-property">
                    {{ 'Client Registration Types'|trans }}
                </td>
                <td>
                    <ul class="disc">
                        {% for clientRegistrationType in client.clientRegistrationTypes %}
                            <li>{{ clientRegistrationType }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="client-col col-property">
                    {{ 'Federation JWKS'|trans }}
                </td>
                <td>
                    {% if client.federationJwks %}
                        <code class="code-box-content">
                            {{- client.federationJwks|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES')) -}}
                        </code>
                    {% else %}
                        {{ 'N/A'|trans }}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock oidcContent -%}
