{% extends "@oidc/oidc_base.twig" %}

{% set pagetitle = 'Show OpenID Connect Client' | trans %}

{% block pre_breadcrump %}
    <span class="divider">/</span>
    <a class="section" href="./index.php">{{ 'OpenID Connect Client Registry'|trans }}</a>
{% endblock %}

{% block content %}
    <h2 class="ui header">{{ pagetitle }}</h2>

    <div class="ui hidden divider"></div>

    <div class="ui segment">
        {{ 'Registration:'|trans }} {{ client.registrationType.description }} |
        {{ 'Created at:'|trans }} {{ client.createdAt ? client.createdAt|date() : 'n/a' }} |
        {{ 'Updated at:'|trans }} {{ client.updatedAt ? client.updatedAt|date() : 'n/a' }} |
        {{ 'Expires at:'|trans }} {{ client.expiresAt ? client.expiresAt|date() : 'never' }}
    </div>

    <table class="ui definition table">
        <tbody>
        <tr>
            <td class="collapsing">{{ '{oidc:client:name}'|trans }}</td>
            <td>
                {{ client.name }}
            </td>
        </tr>
        <tr>
            <td class="collapsing">{{ '{oidc:client:description}'|trans }}</td>
            <td>{{ client.description }}</td>
        </tr>
        <tr>
            <td class="collapsing">{{ '{oidc:client:state}'|trans }}</td>
            <td>
                <span class="ui {{ client.isEnabled ? 'green' : 'red'}} tiny label">
                    {{ (client.isEnabled ? '{oidc:client:is_enabled}' : '{oidc:client:deactivated}')|trans }}
                </span>
            </td>
        </tr>
        <tr>
            <td class="collapsing">{{ '{oidc:client:type}'|trans }}</td>
            <td>{{ (client.isConfidential ? '{oidc:client:confidential}' : '{oidc:client:public}')|trans }}</td>
        </tr>
        <tr>
            <td class="collapsing">{{ '{oidc:client:identifier}'|trans }}</td>
            <td>{{ client.identifier }}
                <i data-clipboard-text="{{ client.identifier }}"
                   data-html="{{ '{oidc:copy}'|trans }}"
                   class="copy link icon"></i>
            </td>
        </tr>
        {% if client.isConfidential %}
        <tr>
            <td class="collapsing">{{ '{oidc:client:secret}'|trans }}</td>
            <td>
                {{ client.secret }}
                <i data-clipboard-text="{{ client.secret }}"
                   data-html="{{ '{oidc:copy}'|trans }}"
                   class="copy link icon"></i>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td class="collapsing">{{ '{oidc:client:auth_source}'|trans }}</td>
            <td>{{ client.authSourceId }}</td>
        </tr>
        <tr>
            <td class="collapsing">{{ '{oidc:client:redirect_uri}'|trans }}</td>
            <td>
                <ul class="list">
                    {% for uri in client.redirectUri %}
                        <li>{{ uri }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td class="collapsing">{{ '{oidc:client:scopes}'|trans }}</td>
            <td>
                <ul class="list">
                    {% for key, scope in client.scopes %}
                        <li>{{ scope }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td class="collapsing">{{ '{oidc:client:backchannel_logout_uri}'|trans }}</td>
            <td>{{ client.backChannelLogoutUri }}</td>
        </tr>
        <tr>
            <td class="collapsing">{{ '{oidc:client:post_logout_redirect_uri}'|trans }}</td>
            <td>
                <ul class="list">
                    {% for uri in client.postLogoutRedirectUri %}
                        <li>{{ uri }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% if client.isConfidential == false %}
        <tr>
            <td class="collapsing">{{ '{oidc:client:allowed_origin}'|trans }}</td>
            <td>
                <ul class="list">
                    {% for allowedOrigin in allowedOrigins %}
                        <li>{{ allowedOrigin }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        <tr >
            <td class="collapsing">{{ 'Signed JWKS URI'|trans }}</td>
            <td>{{ client.signedJwksUri }}</td>
        </tr>
        <tr >
            <td class="collapsing">{{ 'JWKS URI'|trans }}</td>
            <td>{{ client.jwksUri }}</td>
        </tr>
        <tr >
            <td class="collapsing">{{ 'JWKS'|trans }}</td>
            <td>
                {% if client.jwks %}
                    <div class="ui comments" >
                        <div class="comment">
                            <div class="text">
                                {{ client.jwks|json_encode(constant('JSON_PRETTY_PRINT')) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="collapsing">{{ '{oidc:client:owner}'|trans }}</td>
            <td>{{ client.owner }}</td>
        </tr>

        <tr>
            <td colspan="2">OpenID Federation related properties</td>
        </tr>

        <tr>
            <td class="collapsing">{{ 'Is federated'|trans }}</td>
            <td>{{ (client.isFederated ? 'Yes' : 'No')|trans }}</td>
        </tr>
        <tr>
            <td class="collapsing">{{ 'Entity Identifier'|trans }}</td>
            <td>{{ client.entityIdentifier }}</td>
        </tr>
        <tr>
            <td class="collapsing">{{ 'Client registration types'|trans }}</td>
            <td>
                <ul class="list">
                    {% for clientRegistrationType in client.clientRegistrationTypes %}
                        <li>{{ clientRegistrationType }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr >
            <td class="collapsing">{{ 'Federation JWKS'|trans }}</td>
            <td>
                {% if client.federationJwks %}
                    <div class="ui comments" >
                        <div class="comment">
                            <div class="text">
                                {{ client.federationJwks|json_encode(constant('JSON_PRETTY_PRINT')) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="full-width">
            <th></th>
            <th>
                <div class="ui buttons">
                    <a href="./index.php" class="ui small primary labeled icon button">
                        <i class="arrow left icon"></i> {{ '{oidc:return}'|trans }}
                    </a>
                    <a href="./edit.php?client_id={{ client.identifier }}" class="ui small labeled icon button">
                        <i class="edit icon"></i> {{ '{oidc:edit}'|trans }}
                    </a>
                    {% if client.isConfidential %}
                    <div class="ui small teal labeled icon button">
                        <i class="refresh icon"></i> {{ '{oidc:client:reset_secret}'|trans }}
                    </div>
                    <div class="ui flowing popup top left transition hidden">
                        <h4 class="ui header">{{ '{oidc:client:reset_secret}'|trans }}</h4>
                        <p>{{ '{oidc:client:reset_secret_warning}'|trans }}</p>
                        <form method="post" action="./reset.php?client_id={{ client.identifier }}">
                            <input type="hidden" name="secret" value="{{ client.secret }}">
                            <input type="submit" class="ui button" value="{{ '{oidc:confirm}'|trans }}">
                        </form>
                    </div>
                    {% endif %}
                </div>
            </th>
        </tr>
        </tfoot>
    </table>

{% endblock %}

{% block postload %}
    {{ parent() }}
    <script src="{{ asset('clipboard/clipboard.min.js', 'oidc') }}"></script>
    <script>
        $('.copy.link').popup();

        new ClipboardJS('.copy.link')
            .on('success', function (e) {
                e.clearSelection();
                $(e.trigger).popup('change content', '{{ '{oidc:copied}'|trans }}')
            })
        ;

        $('.teal.button')
            .popup({
                on: 'click',
                setFluidWidth: false
            })
        ;
    </script>
{% endblock %}
