{% extends "@oidc/oidc_base.twig" %}

{% set pagetitle = 'Show OpenID Connect Client' | trans %}

{% block pre_breadcrump %}
    <span class="divider">/</span>
    <a class="section" href="./index.php">{% trans 'OpenID Connect Client Registry' %}</a>
{% endblock %}

{% block content %}
    <h2 class="ui header">{{ pagetitle }}</h2>

    <div class="ui hidden divider"></div>

    <table class="ui definition table">
        <tbody>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:name}' %}</td>
            <td>
                {{ client.name }}
            </td>
        </tr>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:description}' %}</td>
            <td>{{ client.description }}</td>
        </tr>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:state}' %}</td>
            <td>
                <span class="ui {{ client.isEnabled ? 'green' : 'red' }} tiny label">
                    {% trans '{oidc:client:is_enabled}' %}
                </span>
                <span class="ui {{ client.isConfidential ? 'green' : 'red' }} tiny label">
                    {% trans '{oidc:client:is_confidential}' %}
                </span>
            </td>
        </tr>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:identifier}' %}</td>
            <td>{{ client.identifier }}
                <i data-clipboard-text="{{ client.identifier }}" data-html="{% trans '{oidc:copy}' %}" class="copy link icon"></i>
            </td>
        </tr>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:secret}' %}</td>
            <td>
                {{ client.secret }}
                <i data-clipboard-text="{{ client.secret }}" data-html="{% trans '{oidc:copy}' %}" class="copy link icon"></i>
            </td>
        </tr>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:auth_source}' %}</td>
            <td>{{ client.authSourceId }}</td>
        </tr>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:redirect_uri}' %}</td>
            <td>
                <ul class="list">
                    {% for uri in client.redirectUri %}
                        <li>{{ uri }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:scopes}' %}</td>
            <td>
                <ul class="list">
                    {% for key, scope in client.scopes %}
                        <li>{{ scope }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:backchannel_logout_uri}' %}</td>
            <td>{{ client.backchannelLogoutUri }}</td>
        </tr>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:post_logout_redirect_uri}' %}</td>
            <td>
                <ul class="list">
                    {% for uri in client.postLogoutRedirectUri %}
                        <li>{{ uri }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:owner}' %}</td>
            <td>{{ client.owner }}</td>
        </tr>
        <tr>

            <td class="collapsing">{% trans '{oidc:client:allowed_origin}' %}</td>
            <td>
                <ul class="list">
                    {% for allowedOrigin in allowedOrigins %}
                        <li>{{ allowedOrigin }}</li>
                    {% endfor %}
                </ul>
            </td>

        </tr>
        </tbody>
        <tfoot>
        <tr class="full-width">
            <th></th>
            <th>
                <div class="ui buttons">
                    <a href="./index.php" class="ui small primary labeled icon button">
                        <i class="arrow left icon"></i> {% trans '{oidc:return}' %}
                    </a>
                    <a href="./edit.php?client_id={{ client.identifier }}" class="ui small labeled icon button">
                        <i class="edit icon"></i> {% trans '{oidc:edit}' %}
                    </a>
                    <div class="ui small teal labeled icon button">
                        <i class="refresh icon"></i> {% trans '{oidc:client:reset_secret}' %}
                    </div>
                    <div class="ui flowing popup top left transition hidden">
                        <h4 class="ui header">{% trans '{oidc:client:reset_secret}' %}</h4>
                        <p>{% trans '{oidc:client:reset_secret_warning}' %}</p>
                        <form method="post" action="./reset.php?client_id={{ client.identifier }}">
                            <input type="hidden" name="secret" value="{{ client.secret }}">
                            <input type="submit" class="ui button" value="{% trans '{oidc:confirm}' %}">
                        </form>
                    </div>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>

{% endblock %}

{% block postload %}
    {{ parent() }}
    <script src="{{ asset('clipboard/clipboard.min.js', 'oidc') }}"></script>
    <script>
        $('.copy.link').popup();

        new ClipboardJS('.copy.link')
            .on('success', function (e) {
                e.clearSelection();
                $(e.trigger).popup('change content', '{% trans '{oidc:copied}' %}')
            })
        ;

        $('.teal.button')
            .popup({
                on: 'click',
                setFluidWidth: false
            })
        ;
    </script>
{% endblock %}
