{% extends "@oidc/oidc_base.twig" %}

{% set pagetitle = 'Show OpenID Connect Client' | trans %}

{% block content %}
    <h2>{{ pagetitle }}</h2>

    <div class="ui hidden divider"></div>

    <table class="ui definition table">
        <tbody>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:name}' %}</td>
            <td>{{ client.name }}</td>
        </tr>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:description}' %}</td>
            <td>{{ client.description }}</td>
        </tr>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:identifier}' %}</td>
            <td>{{ client.identifier }}
                <i data-clipboard-text="{{ client.identifier }}" data-content="{% trans '{oidc:copy}' %}" data-inverted="" class="copy link icon"></i>
            </td>
        </tr>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:secret}' %}</td>
            <td>
                {{ client.secret }}
                <i data-clipboard-text="{{ client.secret }}" data-content="{% trans '{oidc:copy}' %}" data-inverted="" class="copy link icon"></i>
            </td>
        </tr>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:auth_source}' %}</td>
            <td>{{ client.authSource }}</td>
        </tr>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:redirect_uri}' %}</td>
            <td>
                <ul class="list">
                    {% for uri in client.redirectUri %}
                        <li>{{ uri }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td class="collapsing">{% trans '{oidc:client:scopes}' %}</td>
            <td>
                <ul class="list">
                    {% for key, scope in client.scopes %}
                        <li>{{ scope }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="full-width">
            <th></th>
            <th>
                <div class="ui buttons">
                    <a href="{{ moduleurlpath }}/clients/" class="ui small primary labeled icon button">
                        <i class="arrow left icon"></i> {% trans '{oidc:return}' %}
                    </a>
                    <div class="ui small teal labeled icon button">
                        <i class="refresh icon"></i>
                        {% trans '{oidc:client:reset_secret}' %}
                    </div>
                    <div class="ui flowing popup top left transition hidden">
                        <h4 class="ui header">{% trans '{oidc:client:reset_secret}' %}</h4>
                        <p>{% trans '{oidc:client:reset_secret_warning}' %}</p>
                        <form method="post" action="{{ moduleurlpath }}/clients/reset.php?id={{ client.identifier }}">
                            <input type="hidden" name="secret" value="{{ client.secret }}">
                            <input type="submit" class="ui button" value="{% trans '{oidc:confirm}' %}">
                        </form>
                    </div>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>

{% endblock %}

{% block postload %}
    {{ parent() }}
    <script src="{{ moduleurlpath }}/resources/clipboard/clipboard.min.js"></script>
    <script>
        $('.copy.link').popup();
        new ClipboardJS('.copy.link')
            .on('success', function (e) {
                e.clearSelection();
                $(e.trigger).popup('change content', '{% trans '{oidc:copied}' %}')
            })
        ;

        $('.teal.button')
            .popup({
                on: 'click',
                setFluidWidth: false
            })
        ;
    </script>
{% endblock %}